@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.stroke {
  color: transparent;
  -webkit-text-stroke: 1px rgb(91, 222, 91);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.bgImg {
  background-image: url(../public/blue-abstract-watercolor-background-design-png-free-vector.jpg);
  background-position: center;
  background-size: cover;
}
